!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

## client - react ##
client/node_modules
client/package-lock.json
client/build/

## server - boot ##
server/boot/HELP.md
server/boot/.gradle
server/boot/gradlew
server/boot/gradlew.bat
server/boot/settings.gradle
server/boot/build/
server/boot/src/main/resources/application-private.yml

## server - express ##
server/express/node_modules
server/express/package-lock.json

