HELP.md
.gradle
gradlew
gradlew.bat
settings.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

## frontend ##
src/frontend/node_modules

## server ##
src/main/resources/application-private.yml
src/main/java/kr/co/handshake/auth/WebToken.java

