.campus-page{
    width: 100%;
}
.contents{
    width: 100%;
    margin-top:3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-contents{
    z-index: 6;
}

.right-contents{
    z-index: 5;
}

.campus-cam{
    float: right;
    width: 500px;
    height: 500px;
    background-color: #eeeeee;
}

.campus-slide .slick-slider{
    width: 500px;
    background-color: #3D84FC;
    color: #eeeeee;
}

.campus-img > img{
    margin-top: 10%;

}

.campus-slide .slick-slider{
    width: 500px;
    background-color: #3D84FC;
    color: #eeeeee;
}

.campus-img > img{
    margin-top: 10%;
}

.campus-img >p{
text-decoration: none;
}

.campus-slide .slick-slider{
    left:0
}

#webcam-container {
    text-align: center;
}

.campus-img >p{
text-decoration: none;
}

 /* #webcam-container canvas {
    margin-left : 500px;
} */

.tuto-desc{
    text-align: center;
    margin-bottom: 5%;
}